body {
    background-image: url('img/fondo2.jpg');
    background-size: cover; 
    background-position: center; /* Centra la imagen */
    background-repeat: no-repeat; 
    background-attachment: fixed; 
    background-color: #1a1a1a; 
    color: #fff;
    font-family: 'Arial', sans-serif;
    padding-top: 20px;
}

h1 {
    font-size: 2.5rem;
    color: transparent; 
    background-image: linear-gradient(to top, lightgrey 0%, lightgrey 1%, #e0e0e0 26%, #efefef 48%, #d9d9d9 75%, #bcbcbc 100%);
    background-clip: text;
    -webkit-background-clip: text; 
}

#resultadoSinonimos {
    margin-top: 20px;
}

.remplazar {
    display: none;
}

textarea {
    resize: none;
}